CompileFlags:
    Add:
        - ffreestanding
        - fno-exceptions
        - fno-rtti
    CompilationDatabase: build/

Diagnostics:
    ClangTidy:
        Remove:
            - misc-unused-alias-decls